{
    "presets": [
        ["env", {
            "exclude": [
                "transform-regenerator",
                "transform-async-to-generator"
            ],
            "modules": false,
            "debug": true,
            "targets": {
                "node": 4
            }
        }]
    ],
    "plugins": [
        ["fast-async", {
            "spec": true
        }]
    ]
}
